input {
    text-align: center;
    color: black;
    border-radius: 3px;
}

button {
    background-color: rgba(128, 128, 128, 0.372);
    border-radius: 4px;
    border-color:white;
    color: black;
    margin-top: 10px;
    
}